/* web/static/style.css */
#tabs {
    display: flex;
    background-color: #333;
}

#tabs button {
    background-color: #444;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    flex: 1;
    transition: background-color 0.3s;
}

#tabs button:hover {
    background-color: #555;
}

.tab-content {
    display: none;
}

#content {
    padding: 20px;
}
