/* web/static/style.css */

/* Dark mode styles */
body.dark-mode {
    color: white;
    background-color: #222;
}

#header {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

#header h1 {
    margin: 0;
}

#tabs {
    display: flex;
    justify-content: space-between; /* Align tabs and settings button */
    background-color: #333;
}

#tabButtons {
    display: flex;
}

#tabButtons button {
    background-color: #444;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    flex: 1;
    transition: background-color 0.3s;
}

#tabButtons button:hover {
    background-color: #555;
}

#settingsButton {
    position: absolute;
    top: 10px; /* Adjust this value as needed for spacing from the top */
    right: 10px;
}

#settingsButton button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#content {
    padding: 20px;
}

.tabs-container {
    display: flex;
    background-color: #333;
}

.tabs-container button {
    background-color: #444;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    flex: 1;
    transition: background-color 0.3s;
}

.tabs-container button:hover {
    background-color: #555;
}

.tab-content {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px; /* Add spacing above the table */
}

th, td {
    padding: 10px;
    border: 1px solid #ddd; /* Add a border to each cell */
}

th {
    background-color: #f2f2f2; /* Gray background for header cells */
}

/* Optional: Add some styling to alternate rows for better readability */
tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Light gray background for even rows */
}
