/* web/static/style.css */
#tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

#tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

#tabs button:hover {
    background-color: #ddd;
}

.tab-content {
    display: none;
}

#content {
    padding: 20px;
}
