<!-- web/templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NAS-management</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="header">
        <h1>NAS-management</h1>
        <p>Welcome to your NAS!</p>
    </div>
    <div id="tabs">
        <div id="tabButtons">
            <button onclick="openTab('statusTab')">Status</button>
            <button onclick="openTab('disksTab')">Disks</button>
            <button onclick="openTab('dockerTab')">Docker</button>
        </div>
        <div id="settingsButton">
            <button id="darkModeButton" class="dark-mode-button" onclick="toggleDarkMode()">🌙</button>
            <button onclick="openSettings()">⚙️</button>
        </div>
    </div>
    <div id="content">
        <div id="statusTab" class="tab-content">
            <h2>Machine status</h2>
            <p>Here you will see all common stats for this machine.</p>
        </div>
        <div id="disksTab" class="tab-content">
            <h2>Machine disks</h2>
            <p>Here you will see all the disks in the machine.</p>
        </div>
        <div id="dockerTab" class="tab-content">
            <h1>Docker Management</h1>
        </div>
        <div id="settingsTab" class="tab-content">
            <h2>Settings</h2>
            <div>
                <label for="defaultTab">Default Tab:</label>
                <select id="defaultTab">
                    <option value="statusTab">Status</option>
                    <option value="disksTab">Disks</option>
                    <option value="dockerTab">Docker</option>
                </select>
            </div>
            <button onclick="saveSettings()">Save</button>
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
